**.orig
*.bowerrc
*.gem
*.rbc
*.un~
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.dat*
.directory
.fseventsd
.netrwhist
.powenv
.repl_history
.rspec
.ruby-version
.rvmrc
/.bundle
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/app/assets/javascripts
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/frontend/node_modules
/lib/bundler/man/
/log
/pkg/
/public/system
/rdoc/
/spec/examples.txt
/spec/reports/
/spec/tmp
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
/vendor/assets/bower_components
/vendor/bundle
Icon
Network Trash Folder
Session.vim
Temporary Items
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
bower.json
build/
capybara-*.html
npm-debug.log
pickle-email-*.html
rerun.txt
